/* ======== COMMON ======== */

@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

img, source {
  display: block; 
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.action-article-link:hover {
  color:#8b0000;
}


/* ======== COMMON STYLES ======== */

body {
  min-width: 320px;
}

.logo-text-link:hover {
  transform: scale(1.2)
}

.header,
.footer {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0f0f32;
}

.header::after,
.footer::after {
  content: "";
  background-color: #0f0f32;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}  

.header-content,
.footer-content {
  position: relative;
  z-index: 1;
}

  /* ======== header ======== */
.logo-text-link {
  display: block;
  fill: #ffffff;
}

.header-title {
  display: flex;
  flex-flow: column;
  margin: auto;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.header-title-2 {
  align-self: flex-end;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: start;
  text-transform: uppercase;
  background-color: #5d41b0;
  border: none;
  cursor: pointer;
}

.download-button-title {
  display: flex;
  flex-direction: column;
}

.download-app-item {
  font-weight: bold;
}

.download-button:hover {
  background-color: #a9a9a9;
}

.download-logo {
  fill: #ffffff;
}

  /* ======== main ======== */

.sport-title {
  color: #e7e7e7;
  font-weight: bold;
  text-transform: uppercase;
}

.sport-article-collaboration {
  background-color: #f5f3f9;
}

.sport-article-growth {
  background-color: #5d41b0;
}

.sport-article-text > p,
.action-article-text > p {
  color: #000000;
}

.dark-theme p,
.darkest-theme p {
  color: #ffffff;
}  

.dark-theme .sport-article-number::after,
.darkest-theme .sport-article-number::after {
  background-color: #ffffff;
}
  
.darkest-theme {
  background-color: #090c35
}

.darkest-theme .sport-article-number {
  color: #8765dd;
} 

.sport-article-title {
  color: #c1c1c1;
  font-weight: bold;
  text-transform: uppercase;
}

.action-picture {
  max-width: 100%;
}

.action-article-link {
  color: #e7e7e7;
  font-weight: bold;
  text-transform: uppercase;
}

  /* ======== footer ======== */

.logo {
  display: block;
  fill: #ffffff;
  background-color: #6a4bc2;
  
}

.footer-title {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.slogan {
  color: #9b8ec1;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-content .logo-text-link {
  margin-bottom: 0;
}

/* ======== MEDIA STYLES ======== */

@media (max-width: 640px) {

  .content-wrapper {
    padding: 0 20px;
  }

  .header {
    background-image: url(../sources/img/football_767.jpg);
  }

  .header-content {
    padding: 30px 0 80px;
  }

  .logo-text-link {
    margin: 0 auto 130px;
    width: 135px;  
  }

  .header-title {
    margin-bottom: 90px;
    font-size: 9vmin; /*28px;*/
  }

  .header-title-2 {
    max-width: 83%;
  }

  .download-button {
    width: 280px;
    height: 35px;
    margin: auto;
    border-radius: 30px;
    font-size: 8px;
  }

  .download-logo {
    width: 22px;
    height: 22px;
    margin-right: 5px;  
  } 

  .apple {
    margin-bottom: 15px;
  }

  .sport-title {
    font-size: 50px;
  }

  .sport-picture {
    margin: 50px auto -50px;
  }
  
  .sport-article-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 23px;
  }

  .sport-article-number {
    margin-right: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }

  .sport-article-number::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    border-radius: 1px;
    background-color: #5d41b0;
  }

  .sport-article-text > p {
    font-size: 15px;
    line-height: 18px;
  }

  .sport-article-text > p:not(:first-child) {
    margin-top: 20px;
  }

  .sport-article-connection {
    padding-top: 80px;
    padding-bottom: 50px;
	  background-color: #f9f9f9;
  }
  
  .sport-article-collaboration,
  .sport-article-growth {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .action-article-content {
    position: relative;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .action-article-title {
    margin-bottom: 20px;
  }

  .action-article-link {
    font-size: 28px;
  }

  .action-article-text > p {
    font-size: 16px;
    line-height: 20px;
  }

  .action-article-text > p:not(:first-child) {
    margin-top: 20px;
  }

  .box {
    display: flex;
    position: absolute;
    top: -60px;
    width: 67px;
    height: 67px;
    background-color: #5d41b0;
  }

  .box-number {
    font-size: 14px;
    font-weight: bold;
    color: #f5f6f7; 
    margin: auto;
  }

  .box-number::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    border-radius: 1px;
    background-color: #8f7bc8;
  }

  .footer {
    background-image: url(../sources/img/game_767.jpg);
  }

  .footer-content {
    padding: 100px 0 10px;
  }

  .logo {
    margin: 0 auto 50px;
    padding: 12px;
    width: 74px;
    height: 72px;
    border-radius: 15px;  
  }

  .footer-text {
    margin-bottom: 70px;
    text-align: center;
  }

  .footer-title {
    margin-bottom: 10px;
    font-size: 10vmin; /*32px;*/
  }

  .slogan {
    font-size: 4.5vmin; /*14px;*/
  }

  .footer-content .download-buttons {
    margin-bottom: 70px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .content-wrapper {
    padding: 0 30px;
  }

  .header {
    background-image: url(../sources/img/football_1280.jpg);
  }

  .header-content {
    padding: 35px 0 90px;
  }

  .logo-text-link {
    margin: 0 auto 170px;
    width: 200px;  
  }

  .header-title {
    margin-left: 50px;
    margin-bottom: 300px;
    font-size: 9vmin; /* 64px;*/
    letter-spacing: 3px;
    
  }
  
  .header-title-2 {
    max-width: 85%;
    line-height: 80px;
  }

  .download-buttons {
    display: flex;
    justify-content: center;
  }

  .apple {
    margin-right: 30px;
  }
  .download-button {
    width: 310px;
    height: 75px;
    border-radius: 35px;
    font-size: 14px;
  }

  .download-logo {
    width: 42px;
    height: 42px;
    margin-right: 25px;  
  } 

  .sport {
    position: relative;
    padding-top: 70px;
  }

  .athlets .content-wrapper,
  .athlets .sport-title  {
    margin-left: 260px;
  }
  
  .players .content-wrapper {
    margin-right: 300px;
  }

  .athlets .sport-picture  {
    position: absolute;
	  top: 100px;
    left: -160px;
  }
  
  .players .sport-picture {
    position: absolute;
	  top: 50px;
    right: 0;
  }

  .sport-title {
    padding: 0 30px 10px;
    font-size: 80px;
  }
  
  .sport-article-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .sport-article-number {
    margin-right: 10px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
  }

   .sport-article-number::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 1px;
    background-color: #5d41b0;
  }

  .sport-article-text > p {
    font-size: 16px;
    line-height: 28px;
  }

  .sport-article-text > p:not(:first-child) {
    margin-top: 20px;
  }

  .sport-article-connection,
  .sport-article-collaboration,
  .sport-article-growth {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .action-article-content {
    position: relative;
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .action-article-title {
    margin-bottom: 25px;
  }

  .action-article-link {
    font-size: 80px;
  }

  .action-article-text > p {
    font-size: 24px;
    line-height: 28px;
  }

  .action-article-text > p:not(:first-child) {
    margin-top: 25px;
  }

  .box {
    display: flex;
    position: absolute;
    top: -75px;
    width: 115px;
    height: 115px;
    background-color: #5d41b0;
  }

  .box-number {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: #f5f6f7; 
  }

  .box-number::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 1px;
    background-color: #8f7bc8;
    
  }

  .footer {
    background-image: url(../sources/img/game_1280.jpg);
  }

  .footer-content {
    padding: 120px 0 20px;
  }

  .logo {
    margin: 0 auto 75px;
    padding: 15px;
    width: 137px;
    height: 130px;
    border-radius: 25px;  
  }

  .footer-text {
    margin-bottom: 280px;
    text-align: center;
  }

  .footer-title {
    margin-bottom: 20px;
    font-size: 10vmin; /*80px;*/
  }

  .slogan {
    font-size: 4.5vmin; /*36px*/
  }

  .footer-content .download-buttons {
    margin-bottom: 60px;
  }
}

@media (min-width: 961px) {

  .content-wrapper {
    max-width: 1920px;
    padding: 0 10vw; /*190px*/
    margin: auto;
  }

  .action   {
    max-width: 1920px;
    margin: auto;
  }

  .header,
  .footer {
    margin: auto;
  }

  .header {
    background-image: url(../sources/img/football_1920.jpg);
  }

  .header-content {
    padding: 40px 0 100px;
  }

  .logo-text-link {
    margin: 0 auto 270px;
    width: 200px;  
  }

  .header-title {
    margin-bottom: 210px;
    font-size: 4.5vw; /*90px*/
  }

  .download-buttons {
    display: flex;
    justify-content: center;
  }

  .apple {
    margin-right: 50px;
  }

  .download-button {
    width: 310px;
    height: 75px;
    border-radius: 35px;
    font-size: 14px;
  }

  .download-logo {
    width: 48px;
    height: 48px;
    margin-right: 25px;  
  } 

  .sport {
    position: relative;
    padding-top: 100px;
  }

  .athlets .content-wrapper {
    width: 50%;
	  margin-left: 50%;
    padding-left: 0;
  }

  .players .content-wrapper {
    margin-right: 50%;
    padding-right: 0;
  }

  .athlets .sport-picture  {
    position: absolute;
	  top: 50px;
    right: 50%;
  }
  
  .players .sport-picture {
    position: absolute;
	  top: 50px;
    left: 42%;
  }

  .sport-title {
    padding-bottom: 30px;
    font-size: 4vw; /*80px*/
  }
  
  .sport-article-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2vw; /*36px;*/
  }

  .sport-article-number {
    margin-right: 10px;
    font-size: 1.2vw; /*24px;*/
    color: #000000;
    font-weight: bold;
  }

  .sport-article-number::after {
    content: "";
    display: block;
    width: 1.5vw; /*27px;*/
    height: 5px;
    border-radius: 1px;
    background-color: #5d41b0;
  }

  .sport-article-text > p {
    font-size: 20px;
    line-height: 34px;
  }

  .sport-article-text > p:not(:first-child) {
    margin-top: 25px;
  }

  .sport-article-connection,
  .sport-article-collaboration,
  .sport-article-growth {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .action-article {
    display: flex;
  }

  .action-article:nth-of-type(even) {
    flex-flow: row-reverse;
  }

  .action-article:nth-of-type(odd) .content-wrapper {
    padding-left: 6vw; /*120px;*/
  }

  .action-article:nth-of-type(even) .content-wrapper {
    padding-right: 6vw; /*120px;*/
  }

  .action-article-image,
  .action-article-content {
    width: 50%;
  }

  .action-article-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .action-article-title {
    margin-bottom: 4.5vw; /*90px;*/
  }

  .action-article-link {
    font-size: 4vw; /*80px*/
  }

  .action-article-text > p {
    font-size: 24px;
    line-height: 28px;
  }

  .action-article-text > p:not(:first-child) {
    margin-top: 30px;
  }

  .action-article:nth-of-type(odd) .box {
    left: -10vw; /*-85px;*/
    top: -1vw;
  }

  .action-article:nth-of-type(even) .box {
    right: -10vw; /*-85px;*/
    top: -1vw;
  }

  .action-article-title {
    position: relative;
  }

  .box {
    display: flex;
    position: absolute;
    width: 8.8vw; /*170px;*/
    height: 8vw; /*155px;*/
    background-color: #5d41b0;
  }
  
  .box-number {
    margin: auto;
    font-size: 1.2vw; /*24px;*/
    font-weight: bold;
    color: #f5f6f7; 
  }

  .box-number::after {
    content: "";
    display: block;
    width: 1.5vw; /*27px;*/
    height: 5px;
    border-radius: 1px;
    background-color: #8f7bc8;
  }

  .footer {
    background-image: url(../sources/img/game_1920.jpg);
  }

  .footer-content {
    padding: 230px 0 55px;
  }

  .footer-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
  }

  .logo {
    margin-right: 25px;
    padding: 20px;
    width: 137px;
    height: 137px;
    border-radius: 30px;
  }

  .footer-title {
    font-size: 4vw; /*80px*/
  }

  .slogan {
    font-size: 1.6vw; /*30px*/
  }

  .footer-content .download-buttons {
    margin-bottom: 255px;
  }
}
